################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.suo
*.userprefs
/Recorder/bin
/Recorder/obj/x86
/_ReSharper.Recorder/BuildScriptCache
/_ReSharper.Recorder/NamedArguments
/_ReSharper.Recorder/ProjectModel
/_ReSharper.Recorder
